/* Javadoc style sheet */

/* Define colors, fonts and other style attributes here to override the defaults */

/* Page background color */
body {background-color: #fff; color: #333; font-family: "Helvetica Neue", "Trebuchet MS", Arial, sans-serif;}

/* Table cells */
td {font-family: "Helvetica Neue", "Trebuchet MS", Arial, Helvetica, sans-serif;}

/* Dividers */
hr {border: none; border-top: 1px solid #016EBC; background: none;}

/* Headings */
h1 { font-size: 145% }

/* links */
a         {color:#004E9E; text-decoration: none}
a:visited {color:#004E9E;}
a:hover   {color:#004E9E; text-decoration: underline;}

/* Preformatted text */
dd pre {color: #464646; background: #f7f7f7;border-left: 6px solid #ccc; padding: 8px 2px;}

/* Table colors */
table[border="1"] {border-collapse: collapse; border-color: #016EBC}
.TableHeadingColor    {background: #016EBC; color: #FFFFFF;}
.TableHeadingColor th {border-color: #016EBC; font-weight: 200}
.TableHeadingColor a  {color: white; font-weight: 600}

.TableRowColor         { background: #FFFFFF }
.TableRowColor  td     { border-color: #016EBC;}

a[name^=methods_inherited]+table    {border-color: #464646}
a[name^=methods_inherited]+table td {border-color: #464646}
.TableSubHeadingColor    { background: #464646; color: white}
.TableSubHeadingColor th {border-color: #464646; font-weight: 200}
.TableSubHeadingColor a   { color: #ccc; font-weight: 600}

/* Font used in left-hand frame lists */
.FrameTitleFont   { font-size: 100%;}
.FrameHeadingFont { font-size:  90%;}
.FrameItemFont    { font-size:  90%;}

/* Navigation bar fonts and colors */
a[name^=navbar] + table    {border-collapse: collapse; border: none;}
a[name^=navbar] + table td {padding: 5px; border: none;}
.NavBarCell1            {padding: 0; background: #016EBC; border: none}
.NavBarCell1 > a[href]  {padding: 5px 0;}
.NavBarCell1Rev         {background: #016EBC url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAKCAYAAABWiWWfAAAAZ0lEQVQoz2P4//8/A7UwA10Ne95oYPD7zf37IJoiw0AG/P36/j2Q/R9EEzKQKINggJCBWAWflisooBuEbCBInijDHucJCPx8dP78fzwAJA9Sh9cwYgzCZyBZBuEyEG4YqQYhGwgzAwCN617mJGBjBQAAAABJRU5ErkJggg==) no-repeat bottom center}
.NavBarCell1 a:hover    {background: #016EBC url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAKCAYAAABWiWWfAAAAZ0lEQVQoz2P4//8/A7UwA10Ne95oYPD7zf37IJoiw0AG/P36/j2Q/R9EEzKQKINggJCBWAWflisooBuEbCBInijDHucJCPx8dP78fzwAJA9Sh9cwYgzCZyBZBuEyEG4YqQYhGwgzAwCN617mJGBjBQAAAABJRU5ErkJggg==) no-repeat bottom center; text-decoration: none;}
.NavBarFont1      {color:#def; color: #8bf}
.NavBarFont1 b    {font-weight: normal; color: #fff}
.NavBarFont1Rev   {color:#fff;}
.NavBarFont1Rev b {font-weight: normal; color:#fff;}
.NavBarCell2      {background-color:#fff; padding: 5px}
.NavBarCell3      {background-color:#fff;}
